.DS_Store
node_modules/
www/
*.log
.idea/
.vscode/
dist/
ios/App/Pods/
ios/App/App/public/
ios/DerivedData/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
.capacitor/
test-results/
playwright-report/
